<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="ParallelSuite" parallel="classes" thread-count="4">
    <test name="ParallelTests">
        <classes>
            <class name="com.example.BloodDonationSupportSystem.service.authaccountservice.LoginTest"/>
            <class name="com.example.BloodDonationSupportSystem.service.authaccountservice.RegisterTest"/>
        </classes>
    </test>
</suite>